*{font-family:'微软雅黑';}
.category table{list-style:none; border:1px; text-align:center; width:100%;}
.category table tr{margin:15px; background:#eee; height:30px;}
.category table tr.odd{background:#fafafa;}
.category table tr.even{background:#fff;}
.category table tr td{min-width:250px; overflow:hidden;}
.category input{padding:10px;margin:10px; border:0px; 
	border-bottom:1px #000 solid;}
.category input[type='text']{width:90%;height:100%;}
.category .spanceWidth{ display:line-block; margin:0 15px;}
.category .bold{background-color: #ffffd5!important; border-color: rgba(255,255,255,.6);}


/*button*/
input.btn{padding: 10px;margin: 10px; cursor:pointer; background:#fff;border:1px solid #0096ff;}
input.btn:hover{background:#0096ff;color:#fff;}

input.blue{background:#0096ff;color:#fff; border:1px solid #0096ff;}
input.blue:hover{ font-weight: bold;}