*{margin:0;padding:0;}
.wrapper {
    width: 1000px;
    margin: 0px auto;
    clear: both;
    position: relative;
}
.header{
	background:#000;color:#fff;
	height:60px;line-height:60px;
	
}
.header .menu{color: #9d9d9d;
    font-size: 16px; float: right;
}
.header .title{    font-size: 32px;
    font-weight: bold;
    font-family: "黑体";}
.header a{color:#fff;}

.main{
	width:1000px;margin: 5px auto;
	border:1px solid #eee;padding:5px;
	overflow:hidden;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}
.main .left{
	border:1px solid #aaa;
	width:185px;
	padding:2px;
	min-height:500px;
	float:left;
}
.main .right{
	border:1px solid #aaa;
	width:800px;
	padding:2px;
	min-height:500px;
	float:right;
}

/*颜色*/
.login{padding: 50px 0;}

.white{color:white;}
.redBG{background:#E4393C;}

.login .btn{
    width: 100px;
    height: 30px;
    margin: 10px;

	cursor: pointer;
    font-size: 18px;
	
   padding:0px;
}
.login .btn.white{
	background: #fff;
    color: #E4393C;
}
.login .btn:hover{
	font-weight: bold;
}


/*盒子模型样式*/
.banner{padding:50px 0; font-size: 72px;font-family: 微软雅黑;}
.banner span{font-size: 50px;font-weight: bold;}
.banner p{font-size: 30px;}

.footer {
    height: 150px;
    width: 100%;
    background: #141414;
    position: relative;
    color: #fff;
    padding-top: 25px;
	margin-top:5px;
}
.footer p {line-height: 20px;}

/*a细节*/
.main  a{ padding: 0px 3px; margin:0px; color:#0096ff; text-decoration:none;}
.main  a:hover{ text-decoration:underline; }

/*left细节*/
.main .left .btn{padding:5px;}
.main .left .btn p{    margin: 10px 0 10px 5px;}
.main .left .btn input{ width:150px;padding:5px; margin:0px 7px;}

.main .left span{color:#666;}
.main .left ul{ list-style:none;border-top:1px solid #aaa;}
.main .left ul li{
	width:89%; 
	padding:5px 10px;
}
.main .left ul li a{display:block; text-decoration:none; color:#0096ff;}
.main .left ul li.current{background:#ddd;}
.main .left ul li#default{ margin:10px 0;}
.main .left ul li a:hover{text-decoration:underline;}

/*right细节*/
.main .right .catalog{color:#aaa;margin-left:10px;} 
.main .right .item{border-bottom:1px dashed #0096ff; padding:10px;} 
.main .right .item a.title{font-size:25px;} 
.main .right .item p{color:#aaa;} 
.main .right .item p span{float:right;} 
.main .right .item .status{height:5px;width:100%;background:#eee; margin:5px;} 
.main .right .item .status .bar{height:5px;background:#0CDA1C;} 
/*进度条长度*/
.main .right .item .status .c0{width:0%;} 
.main .right .item .status .c1{width:25%;} 
.main .right .item .status .c2{width:50%;} 
.main .right .item .status .c3{width:75%;} 
.main .right .item .status .c4{width:100%;} 

.notice{color:#f00;text-align:center;}

/*顶部提示条*/
.topAction{
	font-size: 32px;
    font-weight: bold;
    font-family: "黑体";
	background-color:#0096ff;
	color:#fff;
}
.topAction p{font-size: 15px;}